%link{:rel => 'stylesheet', :type =>'text/css', :href => 'http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css'}
%script{:src => "https://code.jquery.com/jquery-3.3.1.min.js", :type => "text/javascript"}
%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js", :type => "text/javascript"}
:javascript
  $(function() {
    lel = {
      appendTo: '#menu',
      source: "#{route(:autocomplete)}",
      delay: 500,
      select: function(event, ui) {
        $('input#' + event.target.id + '_lat').val(ui.item['coords'][0]);
        $('input#' + event.target.id + '_lon').val(ui.item['coords'][1]);
      }
    };

    $("#trip_from").autocomplete(lel);
    $("#trip_to").autocomplete(lel);

  });

%h2 Pls input your route
%form{:action => route(:get_lines), :method => 'POST'}
  .row
    .col
      %input#trip_from.form-control{:type => "text", :name => 'trip_from', :placeholder => 'From'}
      %input#trip_from_lat{:type => 'hidden', :name => 'trip_from_lat'}
      %input#trip_from_lon{:type => 'hidden', :name => 'trip_from_lon'}
    .col
      %input#trip_to.form-control{:type => "text", :name => 'trip_to', :placeholder => 'To'}
      %input#trip_to_lat{:type => 'hidden', :name => 'trip_to_lat'}
      %input#trip_to_lon{:type => 'hidden', :name => 'trip_to_lon'}
  .row
    .col
      %button.btn.btn-primary{:type => 'submit'}Submit
%ul#menu.ui-front
