!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title=@title
  %body
    =css('https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    =css('reset')
    =css('grid')
    =css('layout')
    =css('text')
    :css
      a:hover, h1 a:hover {
        color: #{theme};
      }

      #top {
        background: #{theme};
      }

      #top nav ul li a:hover {
        background: #{darker_theme}
      }
    .container
      #container.row
        / Top part, contains the navigation menu
        #top.grid_12
          %header.grid_6
            %h1=@title
          %nav.grid_6.last
            %ul.clearfix
              -if logged_in?
                %li
                  =AdvisorController.a('Advisor', :/)
                %li
                  =MainController.a('Show logins', :show_logins)
                %li
                  =MainController.a('Logout', :logout)
              -else
                %li
                  =a('Login', :login)
                %li
                  =a('Register', :register)
        #content.grid_12
          -if flash[:notice]
            .alert.alert-primary=flash[:notice]
          -if flash[:alert]
            .alert.alert-danger=flash[:alert]
          =@content
