:javascript
  function changeTheme(event) {
    document.getElementById('top').style.background = event.target.value;
  }

%h2 Pls input your credentials
%form{:action => route(:handle_login), :method => 'POST'}
  .row
    .col
      %input#login.form-control{:type => 'text', :name => 'login', :required => 'required', :autofocus => 'autofocus', :placeholder => 'Login'}
    .col
      %input#password.form-control{:type => 'password', :name => 'password', :required => 'required', :placeholder => 'Password'}
  .row
    .col
      %button.btn.btn-primary{:type => 'submit'}Submit
