:javascript
  function changeTheme(event) {
    document.getElementById('top').style.background = event.target.value;
  }

%p=flash[:notice]
%p=flash[:alert]
%h2 Pls input your credentials
%form{:action => route(:handle_login), :method => 'POST'}
  %label{:for => 'login'}Login
  %input#login{:type => 'text', :name => 'login'}
  %br
  %label{:for => 'password'}Password
  %input#password{:type => 'password', :name => 'password'}
  %br
  %input{:type => 'submit'}
