:javascript
  function changeTheme(event) {
    document.getElementById('top').style.background = event.target.value;
  }

  function validatePassword(event) {
    var pass = event.target
    if(pass.value.length < 8)
      document.getElementById('password').style.border = "1px solid #ff0000";
    else
      document.getElementById('password').style.border = "1px solid #00ff00";
  }

%h2 Pls input your credentials
%form{:action => route(:handle_registration), :method => 'POST'}
  .row
    .col
      %input#login.form-control{:type => 'text', :name => 'login', :required => 'required', :autofocus => 'autofocus', :placeholder => 'Login'}
    .col
      %input#password.form-control{:type => 'password', :name => 'password', :required => 'required', :placeholder => 'Password (at least 8 characters)', :onchange => 'validatePassword(event)'}
  .row
    .col
      %label{:for => 'theme'}Choose your theme color
      %input#theme{:type => 'color', :name => 'theme', :value => '#e33f1e', :onchange => 'changeTheme(event)'}
  .row
    .col
      %button.btn.btn-primary{:type => 'submit'}Submit
